icce24
icce24/*
.DS_Store
.env
fastText
fastText/*
*.pyc
__pycache__/
gradio-project/data/*
typings
typings/*
.gpt-runner*
*/node_modules
virtual
/react-project/avery_analytics_vite/node_modules
/react-project/avery_analytics_vite/yarn.lock