fastapi[standard]==0.112.1
pydantic[email]==2.8.2
cryptography==43.0.0
databases==0.9.0
psycopg2-binary==2.9.9
PyMySQL==1.1.1
SQLAlchemy==2.0.32
uvicorn==0.30.6
alembic==1.13.2
python-multipart
pillow
numpy
Levenshtein==0.25.1
openai==1.51.2
spacy
google-generativeai==0.7.2
pytest
langchain