fastapi[standard]
pydantic[email]
cryptography
databases
psycopg2-binary
PyMySQL
SQLAlchemy
uvicorn
alembic
python-multipart
pillow
numpy
openai
stanza
pytest
langchain
language-tool-python
transformers
torch
streamlit
pandas
scipy
matplotlib
webdataset