.App {
  text-align: center;
}

.Robot-Look {
  position: absolute;
  height: 30vmin;
  pointer-events: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .Robot-Look {
    animation: upDown infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes upDown {
  0% { bottom: 10vmin; }
  50% { bottom: 13vmin; }
  100% { bottom: 10vmin; }
}
