pydantic[email]
fastapi
uvicorn[standard]
starlette
scikit-learn==1.5.0
requests
pillow
sewar
screeninfo
pyperclip
scikit-image
gradio
gradio_client
joblib
itsdangerous

authlib
itsdangerous
pylti
jinja2


